<table class="table-condensed table-striped table-hover table-condensed table-responsive table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Memo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "messages/message", collection: messages %>
  </tbody>
</table>
