<tr>
  <td align="center">
    <% if message.incident_closed? %>
      <span class="glyphicon glyphicon glyphicon-folder-closed" aria-hidden="true" alt="Closed"></span>
    <% else %>
      <span class="glyphicon glyphicon glyphicon-folder-open" aria-hidden="true" alt="Open"></span>
    <% end %>
  </td>
  <td nowrap><%= message.contact.contact_name %></td>
  <td nowrap><%= l message.incident_date if message.incident_date.present? %></td>
  <td><%= message.incident_memo %></td>
</tr>
