.env
.vagrant
.bundle
.powrc
.rvmrc
*.DS_Store
db/*.sqlite3
log/*
tmp/*
public/uploads/*
.sass-cache/*
.rspec
public/system
public/assets/*
public/stylesheets/*
rails_best_practices_output.html

# Ignore application configuration
/config/application.yml
