<table class="table-condensed table-striped table-hover table-condensed table-responsive table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Contact</th>
      <th>Phones</th>
      <th>Address</th>
      <th>Notes</th>
      <th>Last Activity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "contacts/contact", collection: contacts.sorted %>
  </tbody>
</table>
