<p>
  <br>
  <a class="btn btn-primary" href="#" role="button">New Contact</a>
</p>

<table class="table-condensed table-striped table-hover table-condensed table-responsive table-bordered">
  <thead>
    <tr>
      <th>Contact Name</th>
      <th>Phones</th>
      <th>Email</th>
      <th>Address</th>
      <th>Reputation</th>
      <th>Last Activity</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "contacts/contact", collection: contacts.sorted %>
  </tbody>
</table>
